<!DOCTYPE html>
<html>
<head>
    <title>AI Health Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="bg-animation">
    <span>❤️</span>
    <span>💊</span>
    <span>🫀</span>
    <span>🧠</span>
    <span>🏃‍♂️</span>
    <span>🥗</span>
</div>

<div class="hero">

    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">

    <h1 class="title">AI Health Predictor</h1>

    <p class="subtitle">
        Analyze your health risks using AI-powered multi-disease prediction system
    </p>

    <a href="/form">
        <button class="start-btn">Start Assessment</button>
    </a>

</div>

</body>
</html>